<div class="dashboard-admin-top">
    <ul>
        <li>
            <img src="~/Image/Info/Logo.svg" alt="لوگو">
            <span>Comma</span>
        </li>
        <li>
            <span>شادی میرمحمدی</span>
           <img src="~/Image/Admin/NoImages.png" alt="عکس پروفایل">
        </li>
    </ul>
</div>
