<div class="dashboard-admin-top">
    <ul>  
        <li>
            <span>شادی میرمحمدی</span>
        </li>
        <li>
            <span><img src="~/Image/Admin/NoImages.png" alt="عکس پروفایل"></span>
        </li>
    </ul>
</div>
