
@{
    ViewBag.Title = "داشبورد";
}

<div class="main-dashboard-admin">
    <ul>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">dashboard</span>
            </div>
            <span>دسته بندی ها</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">article</span>
            </div>
            <span>مقاله ها</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">comment</span>
            </div>
            <span>دیدگاه ها</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">shield_person</span>
            </div>
            <span>مدیران</span>
        </li>

        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">task</span>
            </div>
            <span>مقاله های منتشر شده</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">subtitles_off</span>
            </div>
            <span>مقاله های منتشر نشده</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">mark_chat_read</span>
            </div>
            <span>دیدگاه های تایید شده</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">speaker_notes_off</span>
            </div>
            <span>دیدگاه های تایید نشده</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">favorite</span>
            </div>
            <span>تعداد لایک ها</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">visibility</span>
            </div>
            <span>تعداد بازدید ها</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">person</span>
            </div>
            <span>ادمین فعال</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">person_off</span>
            </div>
            <span>ادمین مسدود</span>
        </li>
        <li>
            <div>
                <h5>10</h5>
                <span class="material-symbols-outlined">account_circle</span>
            </div>
            <span>کاربران</span>
        </li>
    </ul>
</div>

