@font-face {
    font-family: 'vazir';
    src: url('../font/vazir-medium-fd.eot') format('embedded-opentype');
    src: url('../font/vazir-medium-fd.ttf') format('truetype');
    src: url('../font/vazir-medium-fd.woff2') format('woff2');
    src: url('../font/vazir-medium-fd.woff') format('woff');
}

* {
    font-family: vazir;
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'vazir';
    src: url('../font/vazir-medium-fd.eot') format('embedded-opentype');
    src: url('../font/vazir-medium-fd.ttf') format('truetype');
    src: url('../font/vazir-medium-fd.woff2') format('woff2');
    src: url('../font/vazir-medium-fd.woff') format('woff');
}

* {
    font-family: vazir;
}




/*نوبار*/
nav {
    background-color: #EF9F9F;
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
}

    nav ul {
        padding: 0px;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

body nav ul li {
    list-style: none;
    margin: auto 15px
}

    body nav ul li:last-child div {
        background-color: #f9eded;
        padding: 8px;
        border-radius: 6px;
    }

        body nav ul li:last-child div:hover, body nav ul li:nth-child(7) div:hover {
            box-shadow: 0px 0px 6px #ffd8d8;
        }

    body nav ul li div i {
        padding: 5px;
    }

    body nav ul li:first-child {
        display: flex;
        margin: auto 20px auto 100px;
    }

    body nav ul li img {
        width: 21px;
    }

    body nav ul li:first-child img {
        width: 40px;
    }

    body nav ul li h2 {
        margin: 25px 20px 0px 0px;
        font-family: 'cursive';
    }

    body nav ul li:nth-child(7) {
        margin: auto 160px auto -20px !important;
    }

        body nav ul li:nth-child(7) div {
            background-color: #F9EDED;
            padding: 7px;
            border-radius: 4px;
        }

    body nav ul li:nth-child(6) {
        margin: auto 160px auto 0px;
    }

    body nav ul li:nth-child(8) {
        margin: auto 40px auto 20px !important;
    }

    body nav ul li:last-child i,
    body nav ul li:nth-child(7) i {
        font-size: 30px
    }

    body nav ul li:nth-child(6) i {
        padding: 5px;
        font-size: 20px;
    }

body nav input {
    background-color: #EF9F9F;
    width: 190px;
    height: 40px;
    padding-left: 60px;
    border: 0 solid #eae2d1;
}

    body nav input:focus {
        outline: none;
    }

body nav a,
body footer div ul li a {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

body nav input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #222222;
}

body nav ul li:nth-child(6) > div {
    display: flex;
    border-bottom: 1px solid black !important;
}

body nav ul li a:hover {
    text-shadow: 0px 0px 1px black;
    color: #222222;
    text-decoration: none;
}
/*نوبار*/


/*main صفحه اصلی*/

body main > div:first-child {
    width: 1300px;
    height: auto;
    background-color: #F47C7C;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 80px;
}

    body main > div:first-child div h2:first-child img {
        width: 50px;
    }

    body main > div:first-child div h2:last-child img {
        width: 30px;
    }


body main div:first-child ul,
main div:nth-child(2) ul,
main div:nth-child(3) ul:first-child,
main div:nth-child(3) ul:last-child {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 15px;
}

    main div:nth-child(3) ul:first-child li, main div:nth-child(3) ul:last-child li {
        background-color: #FFD7D7;
        border-radius: 8px;
        margin: 10px auto;
    }

        main div:nth-child(3) ul:first-child li:hover, main div:nth-child(3) ul:last-child li:hover {
            box-shadow: 0px 0px 12px #6e2929;
        }



    body main div:first-child ul li {
        background-color: #FFBDBD;
        border-radius: 8px;
        margin-bottom: 9px;
    }

        body main div:first-child ul li:hover {
            box-shadow: 0px 0px 13px #b62e2e;
        }



    body main div:first-child ul img {
        width: 200px;
        margin: 10px;
        border-radius: 8px;
    }

body main > div:first-child div {
    display: flex;
    justify-content: space-between;
}

    body main > div:first-child div h2 {
        margin: 20px 30px;
        font-size: 21px;
    }

body main div:first-child ul li h3 {
    text-align: center;
    font-size: 16px;
}

body main div:first-child ul li h5 {
    text-decoration: line-through;
    margin: 13px 15px 0px 0px;
    font-size: 17px;
}

body main div:first-child ul li div {
    display: flex;
}

    body main div:first-child ul li div img {
        width: 41px;
        margin: 5px 0px 3px 18px;
    }

body main div:first-child ul li h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 9px 5px 0px 8px;
}

main div:nth-child(2) {
    width: 1300px;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #ef9f9f69;
    display: flex;
    justify-content: space-between;
}

    main div:nth-child(2) ul li {
        background-color: #d29d9d;
        width: 125px;
        border-radius: 40px;
        height: auto;
        list-style: none;
        margin: 20px 24px;
    }

        main div:nth-child(2) ul li:hover {
            box-shadow: 0px 0px 8px #621717;
        }

    main div:nth-child(2) ul {
        justify-content: space-around;
    }

        main div:nth-child(2) ul li img {
            width: 60px;
            display: block;
            margin: auto;
            margin-top: 20px;
        }

        main div:nth-child(2) ul li h3 {
            text-align: center;
            margin: 10px 0px 20px 0px;
            font-size: 17px;
        }

main > div:nth-child(3) {
    width: 1300px;
    height: auto;
    border-radius: 2px;
    background-color: #d38888fd;
    margin: 0 auto;
    margin-top: 10px;
}

main div:nth-child(3) ul li img {
    width: 200px;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

main div:nth-child(3) ul li h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
}

main div:nth-child(3) ul li div {
    display: flex;
}

    main div:nth-child(3) ul li div h4 {
        margin: 10px 40px;
        font-size: 20px;
    }

    main div:nth-child(3) ul li div img {
        width: 50px;
        margin: 0px 0px 10px 40px;
    }

main div:nth-child(3) hr {
    background-color: #000000;
    block-size: 2px;
    margin: 15px 44px 15px 38px;
}
/*main صفحه اصلی*/



/* footer */

body footer div {
    background-color: #bc7070;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

    body footer div ul li {
        list-style: none;
    }

        body footer div ul li h5 {
            font-size: 20px;
            margin: 20px 0px;
        }

        body footer div ul li a {
            font-size: 16px;
        }

            body footer div ul li a:hover {
                text-decoration: none;
                color: black;
                font-size: 17px;
                text-shadow: 0px 0px 2px #6e2929;
            }

    body footer div ul:last-child div {
        display: block;
    }

        body footer div ul:last-child div img {
            height: 100px;
            border-radius: 3px;
            margin: 10px 0px 20px 10px;
        }

    body footer div ul li i {
        padding: 5px;
        font-size: 14px;
    }

/* footer */


/*داشبورد ادمین*/

.dashboard {
}


    .dashboard > div:first-child img {
        width: 100px;
        border-radius: 50px;
        margin: 30px 66px 3px 66px;
        border: 3px solid black;
    }



    /*  .dashboard > div:first-child table {
            margin: 15px 60px;
        }*/

    /* .dashboard > div:first-child table td {
                margin: 10px 0px;
                background: rgb(247,113,113);
                background: linear-gradient(218deg, rgba(247,113,113,1) 0%, rgba(255,60,60,1) 100%);
            }
*/
    /*  .dashboard > div:first-child table td:hover {
                    background: rgb(247,113,113);
                    background: linear-gradient(218deg, rgba(247,113,113,1) 0%, rgba(167,40,40,1) 100%);
                    color: wheat;
                }*/






    .dashboard > div:nth-child(3) {
        background-color: #fde6e6;
        margin: 33px 252px 0px 20px;
        width: auto;
        height: auto;
        border-radius: 3px;
    }

        .dashboard > div:nth-child(3) h4 {
            color: black;
            padding: 30px;
            text-align: center;
            background-color: salmon;
        }

        .dashboard > div:nth-child(3) table {
            margin: -16px;
        }

            .dashboard > div:nth-child(3) table, .dashboard > div:nth-child(3) table th, .dashboard > div:nth-child(3) table td {
                border: 2px solid #aea4a4;
                margin: 0px;
            }


/*داشبورد ادمین*/





/*ایجاد و حذف و ویرایش نقش و دسته بندی */



.disable-input {
    pointer-events: none;
}
/*ایجاد و حذف و ویرایش نقش و دسته بندی */







/*ایندکس*/
.index > div:first-child {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #1f1e1ee3;
    padding-bottom: 60px;
}

    .index > div:first-child h1 {
        text-align: center;
        font-size: 20px;
        margin: 15px 30px;
    }

    .index > div:first-child > div {
        margin: 15px 30px;
    }

.index__rol-cat {
    width: 670px !important;
    margin-right: 480px !important;
}



.margin-r-5 {
    margin-right: 5px !important;
}

.margin-r-20 {
    margin-right: 20px !important;
}




.table-col__div-long {
    float: right;
    display: table-column;
    width: 160px;
    margin: 10px 0px;
    border-bottom: 1px solid;
    text-align: center;
}



.table-row div:last-child {
    margin: -3px 0px;
}
/*ایندکس*/




/*ایجاد محصول و کاربر و ادمین  */
/*.create-products, .create-admins, .create-users {

}

.dashboard .create-products div h4, .dashboard .create-admins div h4, .dashboard .create-users div h4 {
    border-radius: 10px;
}

.create-products .form-horizontal div, .create-admins .form-horizontal div, .create-users .form-horizontal div {
    padding: 1px 15px 0px 15px;
}

    .create-products .form-horizontal div:nth-child(5), .create-admins .form-horizontal div:nth-child(5), .create-users .form-horizontal div:nth-child(5) {
        padding: 0px 15px 15px 15px !important;
    }

.dashboard .create-products div div:last-child div:only-child, .dashboard .create-admins div div:last-child div:only-child, .dashboard .create-users div div:last-child div:only-child {

}*/
/*ایجاد محصول و کاربر و ادمین  */



/*ویرایش و حذف و جزییات محصول و ادمین و کاربر*/
.edit-products, .details-products, .delete-products, .edit-admins, .details-admins, .delete-admins, .delete-users, .details-users, .edit-users {
    width: 900px !important;
    margin: 33px 350px 20px 20px !important;
    width: 1120px !important;
    margin: 20px !important;
    position: absolute;
    left: 0px;
    top: 140px;
    background-color: #6D6D6D;
    color: white;
}

.dashboard .edit-products img, .dashboard .details-products img, .dashboard .delete-products img, .dashboard .edit-admins img, .dashboard .details-admins img, .dashboard .delete-admins img, .dashboard .delete-users img, .dashboard .details-users img, .dashboard .edit-users img {
    width: 110px;
    height: 110px;
    border-radius: 57px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    border: 3px solid;
}

.col-pro__input {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    padding-bottom: 10px;
}

.flex {
    display: flex;
}
/*ویرایش و حذف و جزییات محصول و ادمین و کاربر*/

/***************************************************************************************************************************/
.bg-body-admin {
    background-color: #B7B7B7;
}

    .bg-body-admin > div:first-child {
        display: flex;
    }
/***************************************************************************************************************************/

.dashboard-admin-right {
    background-color: #1E2022;
    position: fixed;
    right: 0;
}

    .dashboard-admin-right div:first-child {
        width: 100px;
        margin: 0 auto;
        margin-top: 30px;
    }

        .dashboard-admin-right div:first-child img {
            width: 100px;
            border-radius: 60px;
        }


    .dashboard-admin-right ul li {
        margin: 0px 0px 0px -32px;
        padding: 10px 30px 10px 0px;
        list-style: none;
    }

        .dashboard-admin-right ul li:hover {
            box-shadow: 0px 0px 6px white;
            background-color: #52616B;
        }

    .dashboard-admin-right hr {
        background-color: white;
        block-size: 2px;
        margin: 15px 15px;
        width: 180px;
    }
/***************************************************************************************************************************/


.dashboard-admin-top {
    height: 150px;
    position: absolute;
    left: 0;
}

    .dashboard-admin-top div:first-child {
        background-color: #3E4149;
    }

        .dashboard-admin-top div:first-child ul {
            display: flex;
            justify-content: space-between;
        }

            .dashboard-admin-top div:first-child ul li {
                list-style: none;
                color: white;
                margin: 15px;
            }

                .dashboard-admin-top div:first-child ul li span {
                    margin-left: 10px;
                }

    .dashboard-admin-top div:last-child {
        background-color: #6d6d6d;
    }

        .dashboard-admin-top div:last-child li {
            margin: 10px 5px;
            color: white;
        }


            .dashboard-admin-top div:last-child li:first-child {
                background-color: #bc1212;
            }

                .dashboard-admin-top div:last-child li:first-child:hover {
                    background-color: #7b1c1c;
                }

            .dashboard-admin-top div:last-child li:nth-child(2) {
                background-color: #f84949;
            }

                .dashboard-admin-top div:last-child li:nth-child(2):hover {
                    background-color: #ac2e2e;
                }

            .dashboard-admin-top div:last-child li:nth-child(3) {
                background-color: #dd6670;
            }

                .dashboard-admin-top div:last-child li:nth-child(3):hover {
                    background-color: #964249;
                }

            .dashboard-admin-top div:last-child li:nth-child(4) {
                background-color: #ff4d73;
            }

                .dashboard-admin-top div:last-child li:nth-child(4):hover {
                    background-color: #b93450;
                }

    .dashboard-admin-top div:first-child, .dashboard-admin-top div:last-child /* .dashboard div:last-child */ {
        width: 1166px;
        height: 56px;
    }
/***************************************************************************************************************************/

.btn-color-white, .btn-color-white:hover {
    color: white;
    text-decoration: none;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}
/***************************************************************************************************************************/


.index {
    width: 1120px;
    margin: 20px;
    position: absolute;
    left: 0px;
    top: 140px;
    background-color: #6D6D6D;
    color: white;
}

/***************************************************************************************************************************/

.table-col-operation {
    float: right;
    display: table-column;
    width: 230px;
    margin: 10px 0px;
    text-align: center;
}

.table-col {
    float: right;
    display: table-column;
    width: 154px;
    margin: 10px 0px;
    text-align: center;
}


/***************************************************************************************************************************/

.create {
    width: 1120px !important;
    margin: 20px !important;
    position: absolute;
    left: 0px;
    top: 140px;
    background-color: #6D6D6D;
    color: white;
}

    .create .form-horizontal div:nth-child(3)  img {
        position: absolute;
        right: 245px;
        bottom: 88px;
        width: 90px;
        height: 90px;
        border-radius: 10px;
    }

    .create .form-horizontal div {
        padding: 30px 20px 0px 15px;
        display: flex;
    }

        .create .form-horizontal div:last-child {
            padding: 1px 15px 4px 15px;
        }


    .create div div:last-child div:only-child {
        display: flex !important;
        justify-content: flex-end !important;
        margin: 10px 0px 0px 10px !important;
    }

/***************************************************************************************************************************/

.details > div:nth-child(1), .details > div:nth-child(2), .details > div:nth-child(3) {
    padding: 30px 20px 0px 15px;
    display: flex;
}

    .details > div:nth-child(2) div {
        margin: 6px 0px 24px 60px;
    }

    .details > div:nth-child(3) img {
        border-radius: 8px;
        margin-right: 70px;
        width: 90px;
        height: 90px;
    }
/***************************************************************************************************************************/
