
<header class="header-home">
    <div>
        <img src="~/Image/Info/Logo.svg" alt="logo" />
        <span>Comma</span>
    </div>
    <div>
        <input value="جستجو" class="form-control" />
    </div>
    <div class="flex-space-around">
        <input value="ثبت نام"  class="form-control" />
        <input value="ورود"  class="form-control" />
    </div>
</header>
